@import url(./css/navbar.css);
@import url(./css/search-form.css);
@import url(./css/filters.css);
@import url(./css/body.css);
@import url(./css/appartement.css);
@import url(./css/popular.css);
@import url(./css/footer.css);
@import url(./css/activites.css);

:root {
    --primary-color:#0065fc;
    --secondary-color:#DEEBFF;
    --tertiary-color:#D9D9D9;
}

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}


